{% extends 'core/base.html' %}

{% block content %}


<section class="country-project-container">
    <!-- Left Column: 40% -->
    <div class="country-info">
        <div class="sticky-content">
            <h1>{{ category }}</h1>
            {% if country and country.description %}
            <div class="country-description">
                {{ country.description|linebreaks }}
            </div>
            {% endif %}

            <a href="{% url 'projects' %}" class="back-to-map">&larr;
                Back to Map</a>
        </div>
    </div>

    <!-- Right Column: 60% -->
    <div class="works-grid-container">
        <div class="works-grid" style="grid-template-columns: repeat(2, 1fr);">
            {% for artwork in artworks %}
            <a href="{% url 'artwork_detail' artwork.pk %}" class="work-item-link">
                <div class="work-item">
                    {% if artwork.image %}
                    <img src="{{ artwork.image.url }}" alt="{{ artwork.title }}">
                    {% elif artwork.video %}
                    <video controls>
                        <source src="{{ artwork.video.url }}" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    {% else %}
                    <div class="work-image-placeholder"></div>
                    {% endif %}

                    <div class="work-info">
                        <h3>{{ artwork.title }}</h3>
                        <!-- <p>{{ artwork.country.name }}</p> -->
                        {% if artwork.description %}
                        <p class="description">{{ artwork.description|truncatewords:20 }}</p>
                        {% endif %}
                    </div>
                </div>
            </a>
            {% empty %}
            <p>No projects found in this category.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}